# Python
__pycache__/
*.pyc

# Virtual environments
venv/
backend/venv/

# Environment files (IMPORTANT)
.env
backend/.env

# OS files
.DS_Store
Thumbs.db

# Uploads / generated
uploads/
backend/uploads/